  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>AECOM-KR의 알림 및 공지사항</h2>
              <!--<p><a href="#contact" class="btn btn-default btn-xl wow tada">
              e-mail address</a></p> 원래 양식-->
              
              <p><div class="btn-default btn-xl wow bounceIn text-primary"
              style="word-break:break-all; word-wrap:break-word;">
              2019년 8월 3일 점심, Price 뒷편 잔디밭에서 바베큐 파티가 있을 예정입니다. 많은 참여 부탁드립니다!</div></p>
              
              <p><div class="btn-default btn-xl wow bounceIn text-primary" data-wow-delay=".2s">
              2019년 6월, 2019-2020 알버트 아인슈타인 한인네트워크 회장으로 이성균 박사가 당선되었습니다.</div></p>
              
              <p><div class="btn-default btn-xl wow bounceIn text-primary"
              style="word-break:break-all; word-wrap:break-word;">
              2018년 12월, 알버트 아인슈타인 의과대학 한인네트워크 홈페이지가 신설되었습니다!</div></p>
              
              <p><div class="btn-default btn-xl wow bounceIn text-primary" data-wow-delay=".2s">
              저희 소식은 대부분 카톡으로 공지됩니다.</div></p>
              
              <p><div></div></p>
			  <p><div>2019-2020 회장: 이성균 박사 / 고문: 채진철 박사, 한승훈 박사/ IT: 김승수 박사</div></p>
			  <p><div>2018-2019 회장: 한승훈 박사 / 고문: 채진철 박사/ IT: 김승수 박사</div></p>
			  <p><div>2015-2018 회장: 채진철 박사</div></p>
          </div>
      </div>
  </aside>
