<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">알버트아인슈타인 한인 네트워크<br/>(Albert Einstein College of Medicine Korean Network)<br/>홈페이지를 방문해주셔서 감사합니다.</h2>
                <hr class="light">
                <p class="text-faded" lan="ko">
                안녕하십니까<br/>
                Albert Einstein College of Medicine 회장 한승훈입니다.<br/><br/>
                저희 Albert Einstein College of Medicine은 Montefiore Medical Center와 Yeshiva University 소속으로, 미국 뉴욕주(NY)의 브롱스(Bronx)에 위치해 있으며, 지역 내에서 가장 큰 Medical research center로 미국 medical school 내에서도 high rank에 소속되어 있습니다. 우리 Albert Einstein College of Medicine Korean Network 는 Albert Einstein College of Medicine에 재학 중인 학생분들 또는 박사님들을 위해 만들어진 한인 단체 입니다. 현재 14명의 박사님들이 소속되어 있으며, 각종 Networking Event 및 정기모임을 하고 있습니다. 이를 통해, 서로의 의견과 지식을 나누고, 실험 또는 미국생활에서 필요한 것을 도와주면서, 가족 같은 분위기에서 활동하고 있습니다. 또한 Albert Einstein College of Medicine Korean Network는 뉴욕생명과학자 협회(New York Korean Biologist, NYKB)를 구성하는 10개 단체 중 하나로, Albert Einstein에서의 교류뿐만 아니라 뉴욕 한인 생명과학자들과의 교류도 활발하게 하고 있습니다.<br/><br/> 
                우리 Albert Einstein College of Medicine Korean Network의 목표는 Albert Einstein 소속된 생명과학자의 학술교류 및 친분, 활발한 의사소통을 통해 더 나은 연구환경을 조성하는 것이며, 더 나아가서는 뉴욕 내, 미국 내의 많은 우수한 한인생명과학자들을 연결하는 가교역할을 함으로서, Albert Einstein College of Medicine에서 재학하고 있는 학생들, 연구하고 있는 박사님들을 미국 내 최고의 한인생명과학자로 만드는 것에 이바지하고자 합니다.<br/><br/>
                많은 분들이 Albert Einstein College of Medicine내에는 한인들이 있을까? 처음 도착하면 어떻게 생활을 해나가야 할까? 라는 걱정이 많으실 거라 생각합니다. 물론 저 또한 처음 박사후연구원으로 왔을 때도 그러했습니다. 하지만 걱정하지 마십시오. Albert Einstein College of Medicine Korean Network는 항상 여러분께 열려있습니다. 가족같이 화목한 분위기에서 최고를 위해 달려보시지요. ^^<br/><br/>
                언제든지 문의사항, 궁금하신 점 있으시면 아래 공식 이메일로 연락주시기 바랍니다.<br/><br/>
                회장 한승훈 드림
                </p>
                <a href="mailto:aecom.kr@gmail.com" class="btn btn-default btn-xl">aecom.kr@gmail.com</a>
            </div>
        </div>
    </div>
</section>
