<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">AECOM-KR, 알버트 아인슈타인 의과대학 한인네트워크</h2>
                <hr class="primary">
                <p>언제든지 문의사항, 궁금하신 점 있으시면 아래 공식 이메일로 연락주시기 바랍니다.<br/>
                그리고 NYBK에도 방문하셔서 많은 정보 얻어가시길 바랍니다.
                </p><br/>
            </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-2x wow bounceIn"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        
        <div class="col-lg-2 col-lg-offset-3 text-center">
            <a href="http://einstein.yu.edu/" target="_blank">
                <img src="http://www.einstein.yu.edu/images/logo/einstein-logo.png" height="65"
                class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".2s"></img>
            </a>
        </div>
        <!--<div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>-->
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="http://www.nykb.org/" target="_blank">
                <img src="http://www.nykb.org/img/nykblogo5.gif" height="65"
                class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".4s"></img>
            </a>
        </div>

    </div>
</section>
