<header>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131409625-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-131409625-1');
	</script>

    <div class="header-content">
        <div class="header-content-inner">
            <img src="http://www.einstein.yu.edu/images/logo/einstein-logo.png" height="60"/>
            <hr>
            <h1>Welcome to<br/>Albert Einstein<br/>College Of Medicine<br/>Korean Network</h1>
            <br/><br/>
            <!--a href="#about" class="btn btn-primary btn-xl page-scroll"-->
            <a href="#about" class="btn btn-primary btn-xl page-scroll">
            AECOM-KR since 1998</a>
        </div>
    </div>
</header>
